* {
    margin: 0;
    font-family: sans-serif;
}
.nav__container {
    background-color: darkslateblue;
    height: 45px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;

}
.student__page__head{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    width: 75%;
  }
  .student__page__head h1{
    font-size: 2.25rem;
  }

  .table__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  table{
    border: 0.5px solid black ;
    font-size: 1.2rem;
    width: 75%;
    padding: 2rem;
    border-collapse: collapse;
  }
  td{
    border-bottom: 1px solid;
    padding: 1rem;
  }


  .student__page__head button{
    background-color: white;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
  }
  .student__page__head button:hover{
    box-shadow: inset 2px 2px 10px 0.1px black;
  }